{% capture listItems %}

{%- assign allItems = collections -%}
{%- for item in allItems -%}{%- assign condition_value = item.title | strip -%}{% assign condition_0 = false %}                  
                {% if condition_value == "All Products" %}
                    {% assign condition_0 = true %}
                {% endif %}{% if condition_0 %}
 <div role="listitem" class="nav-menu_collection-item w-dyn-item">
                  <a href="{{ item.url }}" class="nav-menu_link">Shop</a>
                </div>
{% endif %}
{%- endfor -%}

{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="nav-menu_collection w-dyn-list" udy-collection="collection">
              {%- unless items_length == 0 -%}<div role="list" class="nav-menu_collection-list w-dyn-items">
                {{ listItems }}
              </div>{%- endunless -%}
              {%- if items_length == 0 -%}<div class="nav-menu_collection-empty w-dyn-empty">
                <div>No items found.</div>
              </div>{%- endif -%}
            </div>